@{
    ViewData["Title"] = "Home Page";

}




<section class="xop-container" style="width: 100vw; position:absolute; height: 100vh; left: 0;">
    <div class="xop-left div1" style="padding: 0;">
        <a asp-controller="Products" asp-action="Index" class="xop-button">köp</a>
    </div>
    <div class="xop-right div2" style="padding: 0;">
        <a asp-controller="Products" asp-action="Index" class="xop-button">solglasögon</a>
    </div>





</section>


