@model IEnumerable<ScrumWebShop.Data.Contact>


@{
    ViewData["Title"] = "Index";
}

<div class="container my-5 py-5 ">

    <section class="px-md-5 mx-md-5 text-center dark-grey-text">
        <div class="row d-flex justify-content-center mb-5">


            <div class="col-md-6 text-center">

                <h3 class="font-weight-bold mb-5">Contact Us</h3>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea sequi quae nihil iste magni? Quam nemo delectus earum dolore similique fuga dicta eius quae ab laudantium iure voluptas aliquid repellat enim, exercitationem magni! Numquam delectus, nisi fugit perferendis quis harum sint itaque reprehenderit soluta possimus nobis ducimus expedita hic, animi at laborum! Blanditiis doloremque, doloribus aut velit quod vel amet illo optio dicta laborum fuga, molestias, illum modi minima similique inventore voluptatibus. Sequi quasi qui incidunt et totam nesciunt, sed necessitatibus dolor, quo temporibus molestias sapiente facilis a illum laborum quas tempore obcaecati aliquam. Amet ipsam neque accusamus praesentium deserunt?</p>

            </div>


        </div>


        <partial name="_ContactPartial.cshtml" />


        

    </section>


    <div class="row text-center mt-5">

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

            <i class="fas fa-map-marker-alt fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">Adress</p>

            <p class="text-muted">Östra Vagngatan 5</p>
            <p class="text-muted">702 27 Örebro</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-phone fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">Telefon</p>

            <p class="text-muted">+ 01 234 567 89</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-envelope fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">E-mail</p>

            <p class="text-muted">loremipsum@gmail.com</p>

        </div>


    </div>


</div>

